@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* @layer utilities {
  @keyframes fade-in-out {
    0%,
    25% {
      opacity: 1;
    }
    26%,
    100% {
      opacity: 0;
    }
  }

  .animate-fade-1 {
    animation: fade-in-out 12s linear infinite;
    animation-delay: 0s;
  }

  .animate-fade-2 {
    animation: fade-in-out 12s linear infinite;
    animation-delay: 3s;
  }

  .animate-fade-3 {
    animation: fade-in-out 12s linear infinite;
    animation-delay: 6s;
  }

  .animate-fade-4 {
    animation: fade-in-out 12s linear infinite;
    animation-delay: 9s;
  }
} */

@layer utilities {
  @keyframes fade-in-out-bottom-to-top {
    0%,
    25% {
      opacity: 1; /* Fully visible */
    }
    50%,
    100% {
      opacity: 0; /* Fading out */
    }
  }

  .animate-fade-1 {
    animation: fade-in-out-bottom-to-top 12s linear infinite;
    animation-delay: 0s;
  }

  .animate-fade-2 {
    animation: fade-in-out-bottom-to-top 12s linear infinite;
    animation-delay: 3s;
  }

  .animate-fade-3 {
    animation: fade-in-out-bottom-to-top 12s linear infinite;
    animation-delay: 6s;
  }

  .animate-fade-4 {
    animation: fade-in-out-bottom-to-top 12s linear infinite;
    animation-delay: 9s;
  }
}
